[user]
	name = marcosfpr
	email = mfprezende@gmail.com
[core]
    editor = vim 
[ui "color"]
	ui = always
[color]
	ui = true
[merge]
    tool = vimdiff
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
    c = commit
	s = status
    p = push
	ca = commit --amend --no-edit
	pf = push --force-with-lease
    sl = stash list
[pull]
	ff = only
[push]
	default = simple
[help]
	autocorrect = 1
[diff]
	algorithm = patience
	compactionHeuristic = true
[protocol]
	version = 2
